label{
    font-weight: bold;
    font-size: 0.9rem;
}

.book__from{
    width: 18rem;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-between;
}

.label__currency{
    color: red;
}

label::after{
    content:'';
    display: block;
}

select#flying__from,select#flying__to{
    height: 1.8rem;
    width: 8.3rem;
}

input{
    width: 8rem;
}

input[type="number"]{
    height: 1.4rem;
    width: 3rem;
}
